<%= link_to "関係グラフを表示", static_pages_home_path %>


<div class="container">
  <h1 class="colorful">
    YouTuber-Search
  </h1>

  <div id="input-search">
    <%= form_with(url: posts_search_path, method: :get, local: true) do |f| %>
      <%= f.text_field :search, size: "55:10" %><br><br>
      <%= f.submit " Search ", class: "btn  btn-outline-secondary mb-2" %>
      &ensp;
      <%= f.submit " I'm Feeling Lucky", class: "btn  btn-outline-secondary mb-2" %>
    <% end %>

    <!--<h3>アプリ概要</h3>-->
    <!--<p>YouTubeのチャンネル名を検索するとそれに類似したチャンネルを表示します．-->
    <!--<p>-->

    <% flash.each do |key, value| %>
      <p class="text-danger"> <%= value %> </p>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'color' %>
