<h2>検索したyoutuber「<%= link_to @return["channel_info_used_for_search"]["channel_name"].gsub("'",""), @return["channel_info_used_for_search"]["home_url"] %>」の類似チャンネル</h2>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <!-- <th scope="col">おすすめ順</th> -->
      <th scope="col"></th>
      <th scope="col">チャンネル名</th>
      <th scope="col">チャンネル詳細</th>
      <th scope="col">このチャンネルで再検索</th>
  </thead>
  <tbody>
    <% @return["ans"].each_with_index do |channel, index| %>
      <tr>
        <!-- <td scope="row"><%= index+1 %></td> -->
        <td><%= image_tag channel["thumbnail_url"], :alt => channel["channel_name"].gsub("'","") + 'のサムネイル画像' %></td>
        <td><%= link_to channel["channel_name"].gsub("'",""), channel["home_url"] %></td>
        <td><%= link_to "詳細", posts_details_path(channel:channel) %></td>
        <td>
        <%= form_tag(posts_search_path, method: "get") do %>
          <%= hidden_field_tag(:search, channel["channel_name"].gsub("'","")) %>
          <%= submit_tag("Search" , class: "btn btn-outline-dark") %>
        <% end %>
        </td>
      </tr>
    <% end %>
  <br>
  </tbody>
</table>
<%= link_to "トップページに戻る", root_path, data: {"turbolinks" => false} %>

